<html>
<head>
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/assets/css/styles.css" rel="stylesheet" />
</head>
<body>
    <!-- HEADER :: BEGIN -->
    <header>
        <div class="header-main">
            <!-- HEADER :: BRAND -->
            <div class="header-brand">
                <a href="/">
                    <img src="/assets/img/logo-mercado-liebre.svg" alt="Mercado Liebre" class="header-brand-logo" />
                </a>
                <div class="header-brand-search-wrapper">
                    <form onsubmit="javascript: function() {return false;}">
                        <input type="search" placeholder="¿Qué estas buscando?" class="header-brand-search" />
                        <i class="fas fa-search header-brand-search-icon"></i>
                    </form>
                </div>
            </div>

            <!-- HEADER :: LEGEND -->
            <p class="header-legend"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </div>

        <!-- HEADER :: MENU -->
        <nav class="header-nav">
            <div class="header-nav-items">
                <ul type="none">
                    <li>
                        <a href="javascript:alert('PROXIMAMENTE!');">Ofertas</a>
                    </li>
                    <li>
                        <a href="javascript:alert('PROXIMAMENTE!');">Tiendas Oficiales</a>
                    </li>
                    <li>
                        <a href="javascript:alert('PROXIMAMENTE!');">Vender</a>
                    </li>
                    <li>
                        <a href="javascript:alert('PROXIMAMENTE!');">Ayuda</a>
                    </li>
                </ul>
                <ul type="none">
                    <li>
                        <a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a>
                    </li>
                    <li>
                        <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
                    </li>
                    <li>
                        <a href="javascript:alert('PROXIMAMENTE!');">Mis compras <i class="fas fa-shopping-basket"></i></a>
                    </li>
                </ul>
            </div>
            <div class="header-nav-trigger">
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </nav>
    </header>
    <!-- HEADER :: END -->

    <!-- MAIN :: BEGIN -->
    <main>
        <section class="form-wrapper">
            <!-- FORM -->
            <form method="POST" action="/login" id="form" class="form">

                <!-- FORM :: ACCOUNT -->
                <div class="form-group form-group-center">
                    <input type="text" class="form-input" id="username" name="username" placeholder="Nombre de usuari@" />
                </div>
                <div class="form-group form-group-center">
                    <input type="password" class="form-input" id="password" name="password" placeholder="Contraseña" />
                </div>

                <div class="separator separator-dashed"></div>

                <!-- FORM :: ACTIONS -->
                <div class="form-actions form-actions-center">
                    <button type="submit" class="form-action-submit">Entrar</button>
                </div>
            </form>
        </section>
    </main>
    <!-- MAIN :: END -->

    <!-- FOOTER :: BEGIN -->
    <footer>
        <section class="footer-features">
            <article class="footer-feature">
                <figure>
                    <i class="fas fa-credit-card"></i>
                </figure>
                <b class="footer-title">Pagá con tarjeta o en efectivo</b>
                <p class="footer-details">
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en 
                    puntos de pago. ¡Y siempre es seguro!
                </p>
            </article>
            <article class="footer-feature">
                <figure>
                    <i class="fas fa-gift"></i>
                </figure>
                <b class="footer-title">Envío gratis desde $ 2.500</b>
                <p class="footer-details">
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de 
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </article>
            <article class="footer-feature">
                <figure>
                    <i class="fas fa-user-shield"></i>
                </figure>
                <b class="footer-title">Seguridad, de principio a fin</b>
                <p class="footer-details">
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
            </article>
        </section>
        <section>
            <article class="copyright">
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </article>
        </section>
    </footer>
    <!-- FOOTER :: END -->

    <!-- SCRIPTS :: BEGIN -->
    <script src="/assets/js/pages/login.js"></script>
    <!-- SCRIPTS :: END -->
</body>
</html>