<html>
<head>
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/assets/css/styles.css" rel="stylesheet" />
</head>
<body>
    <!-- HEADER :: BEGIN -->
    <header>
        <div class="header-main">
            <!-- HEADER :: BRAND -->
            <div class="header-brand">
                <figure>
                    <img src="/assets/img/logo-mercado-liebre.svg" alt="Mercado Liebre" class="header-brand-logo" />
                </figure>
                <div class="header-brand-search-wrapper">
                    <input type="search" placeholder="¿Qué estas buscando?" class="header-brand-search" />
                    <i class="fas fa-search header-brand-search-icon"></i>
                </div> 
            </div>

            <!-- HEADER :: LEGEND -->
            <p class="header-legend"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </div>

        <!-- HEADER :: MENU -->
        <nav class="header-nav">
            <div class="header-nav-items">
                <ul type="none">
                    <li>
                        <a href="javascript:alert('PROXIMAMENTE!');">Ofertas</a>
                    </li>
                    <li>
                        <a href="javascript:alert('PROXIMAMENTE!');">Tiendas Oficiales</a>
                    </li>
                    <li>
                        <a href="javascript:alert('PROXIMAMENTE!');">Vender</a>
                    </li>
                    <li>
                        <a href="javascript:alert('PROXIMAMENTE!');">Ayuda</a>
                    </li>
                </ul>
                <ul type="none">
                    <li>
                        <a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a>
                    </li>
                    <li>
                        <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
                    </li>
                    <li>
                        <a href="javascript:alert('PROXIMAMENTE!');">Mis compras <i class="fas fa-shopping-basket"></i></a>
                    </li>
                </ul>
            </div>
            <div class="header-nav-trigger">
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </nav>
    </header>
    <!-- HEADER :: END -->

    <!-- MAIN :: BEGIN -->
    <main>
        <section class="form-wrapper">
            <!-- FORM -->
            <form method="POST" action="/register" class="form">
                <!-- FORM :: PERSONAL DATA -->
                <div class="form-group">
                    <label class="form-label">Datos personales</label>
                    <input type="text" class="form-input" id="fullname" name="fullname" placeholder="Nombre y apellido" />
                </div>
                <div class="form-group">
                    <label for="borndate" class="form-label">Fecha de nacimiento</label>
                    <input type="date" class="form-input" id="borndate" name="borndate" placeholder="mm/dd/yyyy" min="1910-01-01" max="2021-12-31" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-input" id="address" name="address" placeholder="Domicilio" />
                </div>

                <div class="separator separator-dashed"></div>

                <!-- FORM :: ACCOUNT -->
                <div class="form-group">
                    <label class="form-label">Cuenta</label>
                    <input type="text" class="form-input" id="username" name="username" placeholder="Nombre de usuari@" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-input" id="password" name="password" placeholder="Contraseña" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-input" id="confirm_password" name="confirm_password" placeholder="Confirmar contraseña" />
                </div>

                <div class="separator separator-dashed"></div>

                <!-- FORM :: ROLE -->
                <div class="form-group">
                    <label class="form-label">Perfil del usuario</label>
                    <div class="form-groups form-groups-inline">
                        <div class="form-group form-group-inline">
                            <input type="radio" class="form-input form-input-radio" id="role_buyer" name="role" value="1" />
                            <label for="role_buyer" class="form-label">Comprador</label>
                        </div>
                        <div class="form-group form-group-inline">
                            <input type="radio" class="form-input form-input-radio" id="role_seller" name="role" value="2" />
                            <label for="role_seller" class="form-label">Vendedor</label>
                        </div>
                    </div>
                </div>

                <div class="separator separator-dashed"></div>

                <!-- FORM :: INTEREST -->
                <div class="form-group">
                    <label class="form-label">Interés</label>
                    <div class="form-groups">
                        <div class="form-group form-group-inline">
                            <input type="checkbox" class="form-input form-input-checkbox" id="category_electro" name="categories[]" value="1" />
                            <label for="category_electro" class="form-label">Electro</label>
                        </div>
                        <div class="form-group form-group-inline">
                            <input type="checkbox" class="form-input form-input-checkbox" id="category_moda" name="categories[]" value="2" />
                            <label for="category_moda" class="form-label">Moda</label>
                        </div>
                        <div class="form-group form-group-inline">
                            <input type="checkbox" class="form-input form-input-checkbox" id="category_hogar" name="categories[]" value="3" />
                            <label for="category_hogar" class="form-label">Hogar</label>
                        </div>
                        <div class="form-group form-group-inline">
                            <input type="checkbox" class="form-input form-input-checkbox" id="category_jugueteria" name="categories[]" value="4" />
                            <label for="category_jugueteria" class="form-label">Juguetería</label>
                        </div>
                        <div class="form-group form-group-inline">
                            <input type="checkbox" class="form-input form-input-checkbox" id="category_vida_sana" name="categories[]" value="5" />
                            <label for="category_vida_sana" class="form-label">Vida sana</label>
                        </div>
                    </div>
                </div>

                <div class="separator separator-dashed"></div>

                <!-- FORM :: AVATAR -->
                <div class="form-group">
                    <label for="avatar" class="form-label">Foto</label>
                    <input type="file" class="form-input" id="avatar" name="avatar" placeholder="Subir foto" />
                </div>

                <div class="separator separator-dashed"></div>

                <!-- FORM :: ACTIONS -->
                <div class="form-actions">
                    <button type="submit" class="form-action-submit">Enviar</button>
                    <button type="reset" class="form-action-reset">Limpiar</button>
                </div>
            </form>
        </section>
    </main>
    <!-- MAIN :: END -->

    <!-- FOOTER :: BEGIN -->
    <footer>
        <section>
            <article>
                <figure>
                    <i class="fas fa-credit-card"></i>
                </figure>
                <b class="footer-title">Pagá con tarjeta o en efectivo</b>
                <p class="footer-details">
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en 
                    puntos de pago. ¡Y siempre es seguro!
                </p>
            </article>
            <article>
                <figure>
                    <i class="fas fa-gift"></i>
                </figure>
                <b class="footer-title">Envío gratis desde $ 2.500</b>
                <p class="footer-details">
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de 
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </article>
            <article>
                <figure>
                    <i class="fas fa-user-shield"></i>
                </figure>
                <b class="footer-title">Seguridad, de principio a fin</b>
                <p class="footer-details">
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
            </article>
            <article class="copyright">
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </article>
        </section>
    </footer>
    <!-- FOOTER :: END -->
</body>
</html>